<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`

* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [18]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [8]:
temp=languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [9]:
print(temp)
print(len(temp))
print(type(temp))

Python
6
<class 'str'>

Append the element 'Java' in the list

In [19]:
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

In [15]:
# we can't append in temp as its class is str

Remove the element 42 from the list and print the list

In [20]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [21]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [23]:
colors.append("Black")

Append the color 'Orange' to second position (index=1) and print the list

In [26]:
colors.insert(1,'Orange')

Print the list

In [27]:
print("Orange")

Orange

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [28]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [30]:
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black', 'Grey', 'Sky Blue', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [34]:
print("Length of Colors ",len(colors),"\n----------------------")

for i in colors:
    i.split()
    print(i,len(i))

Length of Colors  10
----------------------
Red 3
Orange 6
Blue 4
White 5
Black 5
Black 5
Grey 4
Sky Blue 8
Grey 4
Sky Blue 8

Sort the list and print it.

In [35]:
colors.sort()
print(colors)

['Black', 'Black', 'Blue', 'Grey', 'Grey', 'Orange', 'Red', 'Sky Blue', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [36]:
sent="Coronavirus Caused Lockdowns Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [37]:
list1=sent.split()
print(list1)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [39]:
box=[i.lower() for i in list1]
box

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [44]:
for i in box:
    if i=='country':
        print(box.index('country'))

Remove the element ‘the’ from the list and print the list.

In [47]:

for i in box:
    if i=="the":
        continue
    print(i,end=",")

coronavirus,caused,lockdowns,around,world,

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [48]:
x4=[i for i in box[:4]]
x4

['coronavirus', 'caused', 'lockdowns', 'around']

In [49]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [56]:
print(''.join(x4))

coronaviruscausedlockdownsaround

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [57]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [58]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [59]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [60]:
print(stud_grades_set)

{'A', 'C', 'B', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [61]:
print(type(stud_grades),type(stud_grades_set))

<class 'list'> <class 'set'>

Add a new element ‘G’ to stud_grades_set

In [62]:
stud_grades_set.add("G")

Add element 'F' to stud_grades_set. and print it.

In [63]:
stud_grades_set.add("F")

None

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

In [64]:
print(stud_grades_set)

{'A', 'C', 'B', 'F', 'G'}

Remove ‘F’ from stud_grades_set

In [65]:

stud_grades_set.remove("F")
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [66]:
len(stud_grades_set)

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [1]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [8]:
print(colors+fruits,end=" ")

['red', 'blue', 'orange', 'orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [10]:
colors_Set=set(colors)
print(colors_Set)

{'orange', 'blue', 'red'}

In [11]:
fruits_set=set(fruits)
print(fruits_set)

{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [13]:
# will combine
colors_Set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [14]:
# will show the common in both
colors_Set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [15]:
# will show the difference 
fruits_set.difference(colors_Set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [16]:
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [18]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [19]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [20]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [24]:
i=0
while i<len(temp1):
    print(temp1[i])
    
    i+=1

11
Virat
50.0

replace first element with 17 in temp1

In [26]:
temp1[0]=17

print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [34]:
city=("Bangalore",28.9949521,72)
print(city, "Type :",type(city))

('Bangalore', 28.9949521, 72) Type : <class 'tuple'>

Print first element of city

In [35]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [36]:
city2=("Chennai",30.01,74)

Create cities which consist of city and city2

In [49]:
cities=city2+city

Print cities

In [50]:
print(cities)

('Chennai', 30.01, 74, 'Bangalore', 28.9949521, 72)

Print type of first element in cities

In [51]:
cities[0]

'Chennai'

print the type of cities

In [52]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [53]:
d={"Actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [54]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [55]:
d['Actor']

'amir'

Print the type of actor

In [56]:
type("Actor")

str

Store the value of d[‘list’] in new variable List.

In [57]:
d['list']

[23, 32, 12]

Print the type of List.

In [58]:
type(d['list'])

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [60]:
d1={'singer':'Kr$na','album':'Still here','genre':'hip-hop'}
d1

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [62]:
d.update(d1)

print d

In [63]:
d

{'Actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [64]:
print(d.keys())

dict_keys(['Actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [65]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [70]:
for i in d.items():
    print(i)

('Actor', 'amir')
('animal', 'cat')
('earth', 2)
('list', [23, 32, 12])
('singer', 'Kr$na')
('album', 'Still here')
('genre', 'hip-hop')

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [71]:
for i in 'sent':
    print(i)

s
e
n
t